.mainSiteWrapper{
  max-width: 700px;
  background-color: #fff;
  margin: 25px auto;

  .wrapOrder{
    background-image: url("/images/assets/pizza-1.jpg");
  }

  .wrapBook{
    background-image: url("/images/assets/pizza-2.jpg");
  }

  .openingHours {
    background-color: #F76669;
    width: 100%;
    height: 120px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    margin-top: 5px;
    border-radius: 5px;
  }
}

.review{
  margin-top: 100px;

  .textReview {
    position: relative;
    width: 68%;
    height: 200px;

    .reviews{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: .5s linear;
    }

    .activeText{
      opacity: 1;
    }
  }

  .reviewMark{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 40px;

    div{
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #ddd;
      margin-left: 10px;
    }

    .activeMark{
      background-color: #000;
    }
  }
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;

  .imgContainer{
    position: relative;
    width: 30%;
    margin-top: 10px;
    cursor: pointer;

    .cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0;
      transition: all .2s linear;
    }

    .icons{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      i{
        font-size: 25px;
        color: #fff;
        margin-left: 10px;
        opacity: 0;
        transition: all .2s linear;

        &:hover {
          color: red;
          z-index: 5;
        }
      }
    }

    &:hover i{
      opacity: 1;
    }

    &:hover .cover{
      opacity: .3;
    }
  }
}

.moreOnInstagram{
  margin: 40px 10px;
  height: 100px;

  a {
    color: red;
  }
}
